<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Payment</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
</head>

<body>

<div class="jumbotron text-center">
    <button onclick="window.location.href = '/';"><h1>Codecool Shop</h1></button>
</div>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

<body>
<div class="container">
    <div class="main-content">
        <p class="text">Price:</p>
    </div>

    <div class="centre-content">
        <h1 class="price">Here put price!<span>/-</span></h1>
    </div>
    <div class="paypal-payment">
        <button onclick="window.location.href = 'https://www.paypal.com/pl/home';">Pay with PayPal</button>
    </div>

    <div class="card-details">
        <p>Pay using Credit or Debit card</p>

        <div class="card-number">
            <label> Card Number </label>
            <input
                    type="text"
                    class="card-number-field"
                    placeholder="###-###-###"/>
        </div>
        <br />
        <div class="date-number">
            <label> Expiry Date </label>
            <input type="text" class="date-number-field"
                   placeholder="DD-MM-YY" />
        </div>

        <div class="cvv-number">
            <label> CVV number </label>
            <input type="text" class="cvv-number-field"
                   placeholder="xxx" />
        </div>
        <div class="nameholder-number">
            <label> Card Holder name </label>
            <input
                    type="text"
                    class="card-name-field"
                    placeholder="Enter your Name"/>
        </div>
        <button type="submit"
                class="submit-now-btn">
            submit
        </button>
    </div>
</div>

<!--<div class="container">-->
<!--    <div class="card">-->
<!--        <strong th:text="${category.name}">Category Title</strong>-->
<!--    </div>-->

<!--    <div id="products" class="row">-->
<!--        <div class="col col-sm-12 col-md-6 col-lg-4" th:each="prod,iterStat : ${products}">-->
<!--            <div class="card">-->
<!--                <img class="" src="http://placehold.it/400x250/000/fff" th:attr="src='/static/img/product_' + ${prod.id} + '.jpg'" alt="" />-->
<!--                <div class="card-header">-->
<!--                    <h4 class="card-title" th:text="${prod.name}">Product name</h4>-->
<!--                    <p class="card-text" th:text="${prod.description}">Product description... </p>-->
<!--                </div>-->
<!--                <div class="card-body">-->
<!--                    <div class="card-text">-->
<!--                        <p class="lead" th:text="${prod.getPrice()}">100 USD</p>-->
<!--                    </div>-->
<!--                    <div class="card-text">-->
<!--                        <a class="btn btn-success" href="#">Add to cart</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--</div>-->

<div th:replace="footer.html :: copy"></div>

</body>
</html>